.CharacterList {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background-color: lightblue;
    text-align: center;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}





